{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="horizontal">
<div class="card" style="width: 50%;">
  <img src="{{object.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <p class="card-text">{{object.description}}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{object.act}}</li>
    <li class="list-group-item">{{object.cost}}</li>
    <li class="list-group-item">{{object.created_at}}</li>
  </ul>
</div>
</div>
{% include 'footer.html' %}